body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container{
    width: 100%;
    position: relative;
}

.main-header{
    background-color: #007d9c;;
    height: 500px;
    box-sizing: border-box;
    border-top: solid 0.1px transparent;
    color: white;
    position: relative;
    top: 0;
    width: 100%;
}

.logo{
    width: 70px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 100px;
}

.site-search{
    background-color: transparent;
    padding: 10px;
    border: solid 1px white;
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    letter-spacing: 0.5px;
    width: 200px;
    position: relative;
    top: 0;
    left: 200px;
}

.menu{
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 50%;
    float: right;
    margin-right: 3%;
}

.menu li{
    list-style: none;
    display: inline-block;
}

.menu li a{
    padding: 13px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    border-top: solid 3px #d91d1d;
}

.content{
    width: 45%;
    position: relative;
    top: 100px;
    left: 5%;
}

.content h1{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0;
}

.content p{
    font-size: 20px;
    margin-top: 0;
}

.links{
    display: inline-block;
    position: absolute;
    top: 170px;
    left: 50%;
}

.intro{
    color: black;
    background-color: #fddd00;
    padding: 20px 80px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #626262;
}

.download{
    display: block;
    width: 285px;
    text-align: center;
    margin-top: 0px;
    padding-top: 40px;
    color: white;
}

.ladder{
    width: 200px;
    height: 355px;
    float: right;
    margin-right: 10%;
    margin-top: 150px;
    box-sizing: border-box;
}

main{
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    position: relative;
}

.companies h2{
    width: 100%;
    text-align: center;
}

.companies{
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1;
}

.company-list{
    list-style: none;
    margin: auto;
}

.company-list li{
    float: left;
    width: 10%;
    padding: 30px;
    margin: 20px 100px;
}

.company-list li img{
    height: 100px;
    width: 100%;
}

.company-list li p{
    display: inline-block;
    margin: 0px;
    color: transparent;
    font-size: 12px;
}

.company-list li p:hover{
    color: gray;
}

.company-list li:hover{
    display: block;
    box-shadow: 2px 3px 5px gray;
    border-radius: 5px;
}
